
<div id="calculator">
  <h1>Calculator</h1>
  <p id="last_operation_history"></p>
  <p id="box" class="box">{{display}}</p>
  <table id="table">
      <tr>
          <td><button onclick="calculate_percentage()">%</button></td>
          <td><button (click)="clear()">CE</button></td>
          <td><button (click)="clear()">C</button></td>
          <td><button id="backspace_btn" (click)="backspace()">←</button></td>
      </tr>
      <tr>
          <td><button (click)="DivideOne()">¹∕ₓ</button></td>
          <td><button (click)="square()">𝑥²</button></td>
          <td><button (click)="squareRoot()">√𝑥</button></td>
          <td><button id="plusOp" value="+" class="operator" (click)="PressOperator('+')">+</button></td>
      </tr>
      <tr>
          <td><button (click)="PressNumber('7')">7</button></td>
          <td><button (click)="PressNumber('8')">8</button></td>
          <td><button (click)="PressNumber('9')">9</button></td>
          <td><button id="subOp" value="-" class="operator" (click)="PressOperator('-')">-</button></td>
      </tr>
      <tr>
          <td><button (click)="PressNumber('4')">4</button></td>
          <td><button (click)="PressNumber('5')">5</button></td>
          <td><button (click)="PressNumber('6')">6</button></td>
          <td><button id="multiOp" value="*" class="operator" (click)="PressOperator('*')">×</button></td>
      </tr>
      <tr>
          <td><button (click)="PressNumber('1')">1</button></td>
          <td><button (click)="PressNumber('2')">2</button></td>
          <td><button (click)="PressNumber('3')">3</button></td>
          <td><button id="divOp" value="/" class="operator" (click)="PressOperator('/')">÷</button></td>
      </tr>
      <tr>
          <td><button (click)="pressplus_minus()">±</button></td>
          <td><button (click)="PressNumber('0')">0</button></td>
          <td><button id="dot" value="." (click)="PressNumber('.')">.</button></td>
          <td colspan="4"><button value="=" class="operator" id="equal_sign" (click)="Calculate()">=</button></td>
      </tr>
  </table>
</div>






